<div class="row">
  <div class="col-xs-3">
    <%= render partial: 'layouts/user_profile', locals: { user: @music.user } %>
    <%= render 'layouts/new_music' %>
  </div>
  <div class="col-xs-9">
    <h2>music detail</h2>
    <table class="table">
      <thead>
        <tr>
          <th class="col-xs-2">User</th>
          <th class="col-xs-3">曲名</th>
          <th class="col-xs-5">感想</th>
          <% if @music.user.id == current_user.id %>
            <th></th>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(@music.user.id) do %>
            <%= attachment_image_tag @music.user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg" %><br>

              <%= @music.user.name %>
            <% end %>
          </td>
          <td><%= link_to @music.title, music_path(@music) %></td>
          <td><%= @music.body %></td>
          <% if @music.user.id == current_user.id %>
            <th><%= link_to "編集", edit_music_path(@music.id), class: "btn btn-info" %></th>
            <th><%= link_to "削除", music_path(@music.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %></th>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>