<div class="row">
  <div class="col-xs-3">
    <h2>User info</h2>
    <%= render 'users/profile' %>

    <h2>New music</h2>
    <%= render 'musics/form' %>
  </div>

  <div class="col-xs-9" id="music_detail">
    <h2>Music detail</h2>
    <table class="table table-hover table-inverse">
      <tbody>
        <tr id="music_<%= @music.id %>">
          <%= render 'musics/item', music: @music %>
           </tr>
      </tbody>
    </table>

          <% if current_user.already_favorite?(@music) %>
<li>
  <%= link_to music_favorites_path(@music), method: :delete do %>
    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
    <%= @music.favorites.count %> いいね
  <% end %>
</li>
<% else %>
<li>
  <%= link_to music_favorites_path(@music), method: :post do %>
    <i class="fa fa-heart-o" aria-hidden="true"></i>
    <%= @music.favorites.count %> いいね
  <% end %>
</li>
<% end %>
        </tr>
      </tbody>
    </table>

    <h3>コメント</h3>
    <table class="table" id="comment_list">
      <%= render 'music_comments/comments', music_comments: @music_comments %>
    </table>

    <div class="row">
      <%= form_with model: [@music, @music_comment], remote: true do |f| %>
        <%= f.text_area :content, class: "col-xs-10",id: "music_comment_content" %>
        <%= f.submit '送信' %>
      <% end %>
    </div>


